/*
 * Copyright (C) 2012 Imagination Technologies Ltd.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "tz1090.dtsi"

&xtal2 {
	clock-frequency = <12000000>;
};

&xtal3 {
	clock-frequency = <32768>;
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <	&pinctrl_spi1_cs0
			&pinctrl_tft
			&pinctrl_sdh>;
};

&pdc_pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <	&keys_pulldown>;

	keys_pulldown: keys-pulldown {
		keys {
			pins =	"sys_wake0",
				"sys_wake1",
				"sys_wake2";
			pull-down;
		};
	};
};

&uart0 {
	status = "okay";
};

&ir {
	status = "okay";
};

&i2c2 {
	bit-rate = <100000>;	/* limit for HDMI */
	status = "okay";
};

/ {
	model = "ImgTec Comet MiniMorph";
	compatible =	"img,tz1090-01tt", "img,tz1090-01sp",
			"toumaz,tz1090", "img,meta";

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		button@0 {
			label = "SW1 - Previous (Page Up)";
			gpios = <&pdc_gpios 2 0>; /* syswake0 */
			gpio-key,wakeup;
			linux,code = <104>; /* Page Up */
		};
		button@1 {
			label = "SW2 - Insert";
			gpios = <&pdc_gpios 3 0>; /* syswake1 */
			gpio-key,wakeup;
			linux,code = <110>; /* Insert */
		};
		button@2 {
			label = "SW3 - Next (Page Down)";
			gpios = <&pdc_gpios 4 0>; /* syswake2 */
			gpio-key,wakeup;
			linux,code = <109>; /* Page Down */
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <>;
		softled1 {
			label = "softled1";
			gpios = <&gpios0 23 0>;		/* uart0_rts */
			linux,default-trigger = "mmc0";
		};
		softled2 {
			label = "softled2";
			gpios = <&gpios0 11 0>;		/* spi0_cs2 */
			linux,default-trigger = "heartbeat";
		};
	};
};

&spi1 {
	status = "okay";

	mtd@0 {
		compatible = "atmel,at45db642d", "atmel,at45", "atmel,dataflash";
		spi-max-frequency = <20000000>;
		reg = <0>; /* chip select */
	};
};
