/*
 * Copyright (C) 2012 Imagination Technologies Ltd.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "tz1090.dtsi"

&xtal2 {
	clock-frequency = <12000000>;
};

&pinctrl {
	pinctrl-names = "default";
	pinctrl-0 = <	&pinctrl_uart0_flow
			&pinctrl_spi1_cs0
			&pinctrl_sdh>;
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&ir {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

/ {
	model = "ImgTec Comet Bring-Up-Board";
	compatible =	"img,tz1090-01ry",
			"toumaz,tz1090", "img,meta";
};

&spi1 {
	status = "okay";

	mtd@0 {
		compatible = "atmel,at45db642d", "atmel,at45", "atmel,dataflash";
		spi-max-frequency = <20000000>;
		reg = <0>; /* chip select */
	};
};
